"extends": "airbnb"
"env": {
  "browser": true,
  "jest": true,
}
"rules": {
    "allowShortCircuit": true,
    "allowTernary": true,
    "no-unused-expressions": "off",
    "no-mixed-operators": "off"
}